.mainViewContainerBlog{
    margin-left: 0%;
    margin-right: 0%;
    // margin-top: 10%;
    padding-left: 0%;
    padding-right: 0%;
    padding-bottom: 2%;
    // padding-top: 1%;
    background-color: #fffaf3;

    // .topText{
    //     position:fixed;
    //     padding-top:2%;
    //     // padding-bottom: 1%;
    //     padding-left: 2%;
    //     font-size: 22px;
    //     // margin-bottom: 100%;
    //     // padding-top: 3%;
    //     // padding-bottom: 2%;
    //     background-color: white;
    //     border-bottom: #C8E6CC solid 2px;
    //     // font-size: 22px;
    //     @media only screen and (max-width: 600px) {
    //         font-size: 14px;
    //         border-bottom: #C8E6CC solid 2px;
    //     }
    // }

    // .topTextHeading{
    //     font-size: 22px ;
    //     text-transform: uppercase;
    //     letter-spacing: 2px;
    //     @media only screen and (max-width: 600px) {
    //         font-size: 14px;
    //         letter-spacing: 1px;
    //     }
    // }
    
    .blogTitle{
        align-items: center;
        font-size: 24px;
        padding-top: 2%;
        padding-left: 32%;
        padding-right: 32%;
        // font-family: 'Tenor Sans', sans-serif !important;
        @media only screen and (max-width: 600px) {
            padding-left: 18%;
            padding-right: 18%;
            font-size: 16px;
        }
    }
    .blogTitle2{
        background-color: white;
        border-bottom: #C8E6CC solid 2px;
        align-items: center;
        font-size: 26px;
        padding-top: 3%;
        padding-left: 32%;
        padding-right: 32%;
        padding-bottom: 2%;
        // font-family: 'Tenor Sans', sans-serif !important;
        @media only screen and (max-width: 600px) {
            padding-left: 18%;
            padding-right: 18%;
            font-size: 16px;
        }
    }
    .underLine{
        border-bottom: 2px solid #FFD741;
        display: inline-block;
    }
 
    .blog1Image1{
        padding-top: 1%;
        height: 100%;
        width: 100%;
    }
    .blogDiv{
        margin-right:10%;
        margin-left: 10%;
        margin-top: 3%;
        content: "";
        background-color: #FFD741;
        height: 2px;
        width:100%;
        @media only screen and (max-width: 600px) {
            height: 1px;
        }
    }
    .blogcontent1{
        padding-top: 2%;
        padding-left: 10%;
        padding-right: 10%;
        font-size: 18px;
        // font-weight: 60;
        // font-family: 'Tenor Sans', sans-serif !important;
        @media only screen and (max-width: 600px) {
            font-size: 12px;
        }
    }
    .blogcontent2{
        padding-top: 0%;
        padding-left: 10%;
        padding-right: 10%;
        font-size: 18px;
        // font-weight: 60;
        // font-family: 'Tenor Sans', sans-serif !important;
        @media only screen and (max-width: 600px) {
            font-size: 12px;
        }
    }
    .blog1Image2{
        padding-top: 2%;
        padding-left: 43%;
        padding-right: 45%;
        height: 100px;
        // width: 100%;
        @media only screen and (max-width: 600px) {
            height: 24PX;
            padding-left: 42%;
        }
    }
    .blog1Image3{
        height: 100%;
        width: 100%;
        padding-left: 0%;
        padding-right: 0%;
    }
    .blog1Image4{
        padding-top: 6%;
        padding-left: 10%;
        padding-right: 10%;
        width: 100%;
    }
    .blog2Image3{
        padding-top: 4%;
    }
}