.mainViewContainerContact{
    margin-left: 0%;
    margin-right: 0%;
    // margin-top: 10%;
    padding-left: 0%;
    padding-right: 0%;
    padding-bottom: 2%;
    // padding-top: 1%;
    background-color: #fffaf3;

    .contactTitle{
        padding-top: 4%;
        text-transform: uppercase;
    }
    .contactUs{
        padding-top: 1%;
        font-size: 28px;
    }
    .logoImg{
        padding-top: 2%;
        height:250px;
        width: 280px;
        // height: 60%;
        @media only screen and (max-width: 600px) {
            height: 160px;
            width: 190px;
        }
    }
    .contactContent{
        margin-top: 46%;
        padding: 3%;
        @media only screen and (max-width: 960px) {
            margin-top: 0%;
            padding: 1%;
        }
    }
    .whatsapp{
        @media only screen and (max-width: 960px) {
            display: none;
        }
    }
    .whatsapp1{
        display: none;
        @media only screen and (max-width: 960px) {
            display: block;
        }

    }
}