.mainViewContainer{
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%;
    padding-left: 0%;
    padding-right: 0%;
    padding-bottom: 2%;
    background-color: #fffaf3;
    &::before{
      content:" ";
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #C8E6CC;
      // top: -8px;
    }
    &.welcome{
      margin-top: 24px;
      @media screen and (max-width: 600px) {
        margin-top: 7px;
      }
    }
    .carousel-control-prev, .carousel-control-next{
      top: 60px;
    }
    .topBorder{
      background-color: #C8E6CC ;
      height: 2px;
      width: 100%;
    }
    .arrow-icons{
      background: #777;
      border-radius: 50%;
    }
    .carousel-arrow-mobile-screen{
      display: none;
      @media only screen and (max-width: 767px){
        display: block;
      }
    }
    // .imageSideText1{
    //     padding-top:45% ;
    //     padding-left: 3%;
    //     font-size: 16px;
    //     text-transform: uppercase;
    // }
    // .title{
    //     padding-left: 2%;
    //     font-size: 14px;
    //     text-transform: uppercase;
    // }
    // .content1{
    //     padding-left: 2%;
    //     font-size: 27px;
    // }
    // .content2{
    //     padding-left: 2%;
    //     font-size: 14px;
    // }
    // a{
    //     padding-left: 15px;
    //     padding-top: 2%;
    // }
    .overView{
        padding:3%;
        font-size: 18px;
        font-weight: 600;
        // text-decoration: underline black;
        text-transform: uppercase;
        letter-spacing: 3px;
        @media only screen and (max-width: 600px) {
            font-size: 16px;
        }
    }

    .overView{
      position:relative;
      padding:3%;
      padding-bottom: 0%;
        font-size: 18px;
        font-weight: 600;
        // text-decoration: underline black;
        text-transform: uppercase;
        letter-spacing: 3px;
        @media only screen and (max-width: 600px) {
            font-size: 16px;
        }
  }
  .overView::after{
      position:absolute;
      content: "";
      background-color:black;
      height: 3px;
      width: 10%;
      bottom: -5px;
      margin-left: 45%;
      margin-right: 45%;
      left:0px;
      transition: 0.3s;
      @media only screen and (max-width: 600px) {
        margin-left: 35%;
      margin-right: 45%;
        bottom: -2px;
        width: 30%;
    }

  }


    .overViewConetnt{
        padding-top: 3%;
        padding-left:20%;
        padding-right:20%;
        font-size: 22px;
        @media only screen and (max-width: 600px) {
          padding-top: 5%;
            padding-left:2%;
            padding-right:2%;
            font-size: 12px;
        }
    }
    .imageSideText2{
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 1%;
        font-size: 30px;
        text-align: center;
        @media only screen and (max-width: 600px) {
          padding-top:2% ;
          font-size: 20px;
          text-align: center;
      }
    }
    .imageSideText1{
      padding-left: 3%;
      font-size: 30px;
      text-transform: uppercase;
      letter-spacing: 10px;
      @media only screen and (max-width: 600px) {
        padding-top: 6px;
        padding-bottom: 6px;
        font-size: 20px;
        letter-spacing: 5px;
      }
    }
    .carouselImage {
      height: 29rem;
      width: 100%;
        @media only screen and (max-width: 600px) {
          max-width: 100%;
          height: auto;
          max-height: 165px;
      }
      @media only screen and (max-width: 375px){
       height: 149px; 
      }
    //   @media (min-width:330px) and (max-width: 600px) {
    //     height: 300px;
    //   //   width: 100%;
    // }
    }
    .bKSIyengar{
      padding-top: 5%;
      padding-right: 10%;
        padding-left:10%;
        font-size: 24px;
        font-style: italic;
        // font-weight: 600;
        padding-bottom: 0%;
        @media only screen and (max-width: 600px) {
            // padding-left:0%;
            // padding-right:0%;
            font-size: 14px;
        }
    }
    @import url("https://fonts.googleapis.com/css?family=Poppins");

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; }

ul, li {
  list-style-type: none; }

li {
  display: inline-block;
  width: 100%; }

#logo {
  font-size: 1.5rem;
  display: inline-block;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 100px;
  line-height: 1.5rem; }

#slider {
  position: relative;
  height: calc(100% - 50px); }

.slides {
  padding: 0;
  position: relative;
  margin: 2em auto;
  width: 85%;
  height: 100%; }
  .slides li {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.65s ease-in-out;
    -o-transition: opacity 0.65s ease-in-out;
    transition: opacity 0.65s ease-in-out; }
    .slides li.active {
      opacity: 1;
      -webkit-transition: opacity 0.65s ease-in-out;
      -o-transition: opacity 0.65s ease-in-out;
      transition: opacity 0.65s ease-in-out;
      -webkit-transition-delay: 0.4s;
      -o-transition-delay: 0.4s;
      transition-delay: 0.4s; }
      .slides li.active .animate .from-bottom {
        -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
        transform: translateY(0%);
        -webkit-transition: -webkit-transform 0.55s ease;
        transition: -webkit-transform 0.55s ease;
        -o-transition: transform 0.55s ease;
        transition: transform 0.55s ease;
        transition: transform 0.55s ease, -webkit-transform 0.55s ease;
        -webkit-transition-delay: 0.45s;
        -o-transition-delay: 0.45s;
        transition-delay: 0.45s; }
      .slides li.active .animate .from-left {
        -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
        transform: translateX(0%);
        -webkit-transition: -webkit-transform 0.55s ease;
        transition: -webkit-transform 0.55s ease;
        -o-transition: transform 0.55s ease;
        transition: transform 0.55s ease;
        transition: transform 0.55s ease, -webkit-transform 0.55s ease;
        -webkit-transition-delay: 0.45s;
        -o-transition-delay: 0.45s;
        transition-delay: 0.45s; }
  .slides .slide-image {
    width: 50%;
    float: left;
    padding: 0 50px;
    text-align: center;
    overflow: visible; }
    .slides .slide-image img {
      max-width: 100%;
      max-height: 36vw;
      vertical-align: middle; }
  .slides .slide-content {
    max-width: 50%;
    display: inline-block;
    float: left;
    padding-right: 50px;
    text-align: right;
    -webkit-transform: translateY(25%);
    -ms-transform: translateY(25%);
    transform: translateY(25%); }
    .slides .slide-content h2 {
      font-size: 3rem;
      line-height: 1.3em;
      margin: 0; }
    .slides .slide-content p {
      padding-left: 40px;
      font-size: 12px;
      color: #969696;
      line-height: 24px; }
    .slides .slide-content .product-type {
      text-transform: uppercase;
      font-size: 0.8rem;
      font-weight: 800;
      letter-spacing: 6px;
      text-align: right; }
    .slides .slide-content a {
      font-size: 1rem;
      font-weight: 800;
      text-transform: uppercase;
      text-align: center;
      display: inline-block;
      padding: 5px 20px;
      text-decoration: none;
      color: #000;
      position: relative; }
      .slides .slide-content a:hover {
        text-decoration: none; }

.slides a.shop-now:before {
  content: '';
  position: absolute;
  height: 100%;
  width: 50%;
  right: 0;
  background-color: #dae6e6;
  z-index: -1;
  top: 0;
  -webkit-transition: width 0.2s ease-out;
  -o-transition: width 0.2s ease-out;
  transition: width 0.2s ease-out; }

.animate {
  position: relative;
  overflow: hidden; }
  .animate .from-bottom {
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: -webkit-transform 0.45s ease;
    transition: -webkit-transform 0.45s ease;
    -o-transition: transform 0.45s ease;
    transition: transform 0.45s ease;
    transition: transform 0.45s ease, -webkit-transform 0.45s ease; }
  .animate .from-left {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: -webkit-transform 0.45s ease;
    transition: -webkit-transform 0.45s ease;
    -o-transition: transform 0.45s ease;
    transition: transform 0.45s ease;
    transition: transform 0.45s ease, -webkit-transform 0.45s ease; }

.text-clip {
  background: url("http://res.cloudinary.com/faaezahmd/image/upload/v1496575220/bara-slider/3.jpg");
  background-attachment: fixed;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 100% 100%;
  display: inline-block;
  font-size: 6rem;
  line-height: 100%;
  background-position: center;
  margin: 0;
  margin-left: -80px; }
  .text-clip span.small {
    font-size: 3rem;
    vertical-align: middle; }
  .text-clip .divider {
    width: 30px;
    display: inline-block;
    margin-left: 10rem;
    margin-right: 3rem;
    vertical-align: middle; }

.slide-1 hr.slider-bottom {
  display: inline-block;
  border-bottom: 0px solid #969696;
  width: 320px;
  vertical-align: middle;
  margin-left: -10em; }

.slide-1 hr.slider-top {
  border-bottom: 0px solid #969696;
  margin: 3em auto;
  width: 125px; }

.slide-1 h4 {
  display: inline-block;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 0.7rem;
  padding-left: 40px; }

.slider-bottom-area {
  margin-top: 100px;
  text-align: center; }

#container {
  position: relative;
  height: 100vh;
  padding: 1em; }

.line-two {
  padding-left: 10rem; }

.slide-label {
  font-size: 0.8rem;
  font-weight: 800;
  color: #000;
  display: inline-block;
  position: absolute;
  left: -8%;
  top: 50%;
  z-index: 10; }

.slider-nav {
  display: inline-block;
  position: absolute;
  width: 20px;
  right: 0px;
  bottom: 50%;
  cursor: pointer; }

.slide-nav-up, .slide-nav-down {
  display: inline-block;
  padding-bottom: 12px;
  position: absolute; }

.slide-nav-up {
  bottom: 0px;
  opacity: 0.5; }

.slide-nav-down {
  border-bottom: 1px solid #969696;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  opacity: 0.5; }

// footer #social-media span {
//   font-size: 0.9rem;
//   font-weight: 100;
//   padding-right: 15px; }

}

// #slider {
//     overflow: hidden;
//   }
//   #slider figure {
//     position: relative;
//     width: 500%;
//     height: 250px;
//     margin: 0;
//     left: 0;
//     animation: 20s slider infinite;
//   }
//   #slider figure img {
//     width: 20%;
//     float: left;
//   }
// @keyframes slider {
//     0% {
//       left: 0;
//     }
//     20% {
//       left: 0;
//     }
//     25% {
//       left: -100%;
//     }
//     45% {
//       left: -100%;
//     }
//     50% {
//       left: -200%;
//     }
//     70% {
//       left: -200%;
//     }
//     75% {
//       left: -300%;
//     }
//     95% {
//       left: -300%;
//     }
//     100% {
//       left: -400%;
//     }
//   }