@import "./sass/index";
html {
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  // height: 100%;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: "marcellus" !important;
  //  -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  //   'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  //   sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  padding: 0;
  // background-color: rebeccapurple;
}
.mobile-link{
  padding-top: 15px !important;
  padding-bottom: 19px !important;
  padding-left: 30px !important;
}
.mobile-link a:active,
.mobile-link a:hover{
  color: black;
}

* {
  font-family: "marcellus" !important;
  // font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  //   monospace;
}

.overlay-container::after{
  content: '';
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.32);
}